.page2-1{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 660px;
    overflow: hidden;
    background-image:linear-gradient(rgba(172, 139, 167, 0.4),rgba(124, 173, 177, 0.4)), url(https://www.designzillas.com/sites/default/files/2020-08/mobile-user-experience-design-principles_3%20%281%29.png);
  }
  .page2-2{
    position: relative;
    background-color: rgb(19, 16, 16);
    overflow: hidden;
  }
  .arrow-animation{
    bottom: 0;
    left: 50%;
    position: absolute;
    z-index: 3;
  }
  .home-banner-container:after {
    background:url(https://www.designzillas.com/themes/custom/bedrock/images/grunge-stripe-bottom-black.png) repeat-x bottom left;
    content: " ";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 101px;
    display: block;
    z-index: 9;
  }
  
  .container{
    padding: 80px 120px;
  }